<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/activites.css">
</head>
<body>

  <!-- Inclusion du header -->
  <%- include('header') %>


  <section id="activities">
    <h2>Activités exclusives à Ramatuelle</h2>
    <p>Lors de votre séjour dans la villa de Sébastien Jondeau à Ramatuelle, vous aurez l'occasion de profiter d'une gamme d'activités personnalisées, adaptées à vos envies.</p>
  
    <div class="activity-list">
      <div class="activity">
        <h3>Randonnées exclusives avec Sébastien Jondeau</h3>
        <p>Sébastien vous propose de partir en randonnée à ses côtés pour découvrir les trésors cachés de Ramatuelle. Que vous soyez amateur de marche douce ou randonneur expérimenté, il saura adapter l'itinéraire à vos attentes. Ses connaissances des sentiers locaux vous permettront d'explorer des paysages authentiques et des panoramas à couper le souffle, loin des sentiers touristiques habituels.</p>
      </div>
  
      <div class="activity">
        <h3>Soirées privées</h3>
        <p>Sébastien peut organiser pour vous des soirées mémorables dans des lieux prestigieux de Saint-Tropez. Vivez une expérience VIP exclusive.</p>
      </div>
  
      <div class="activity">
        <h3>Activités nautiques</h3>
        <p>Que diriez-vous d'une sortie en jet-ski ou en paddle électrique ? Sébastien met à votre disposition son équipement personnel pour une aventure sur les eaux cristallines.</p>
      </div>
  
      <div class="activity">
        <h3>Introduction aux lieux exclusifs</h3>
        <p>Sébastien peut vous ouvrir les portes des lieux les plus prisés de Saint-Tropez, vous garantissant une expérience inoubliable.</p>
      </div>
    </div>
  </section>
  

  <footer>
    <p>&copy; 2024 Villa à Ramatuelle - Tous droits réservés</p>
  </footer>

  <script src="/js/script.js"></script>
</body>
</html>
