/* Style général pour le corps de la page */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Titres de section */
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 2px solid #006400;
    padding-bottom: 10px;
}

/* Style du footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
    color: #333;
    margin-top: 20px;
}

/* Responsivité pour les petits écrans */
@media (max-width: 768px) {
    h2 {
        font-size: 1.5em;
    }

    button {
        padding: 8px;
        font-size: 14px;
    }

    input, textarea {
        padding: 10px;
        font-size: 14px;
    }

    button[type="submit"] {
        padding: 10px;
        font-size: 14px;
    }
}
